<platform-input #platformInput></platform-input>
<div class="panel panel-default">
  <div class="panel-body infoPanelSize">

    <!-- Panel superior -->
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" (click)="_platformModal.openModal()">Agregar plataforma</button>
      </div>
      <div class="col-md-8">
        <!--<input type="search" #inputFilter placeholder="Buscar..." class="form-control">-->
      </div>
    </div>

    <!-- Tabla de informacion -->
    <table class="table table-striped spacing-top additional-tables">
      <thead class="additional-headtable">
        <tr>
          <th>
            Nombre
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="additional-tablebody">
        <app-platform-item [inPlatform]="plat" *ngFor="let plat of _platformList" style="width: 1107px;">
        </app-platform-item>
      </tbody>
    </table>
  </div>
</div>