<tr>
  <td class="spacing-top-sm">
    <p class="spacing-left">
      {{ inPlatform._title }}
    </p>
  </td>
  <td>
    <button type='button' class='btn btn-primary spacing-button' (click)="onEdit()"><b>Editar</b></button>
  </td>
  <td>
    <button type='button' class='btn btn-danger spacing-button' (click)="onDelete()">Desactivar</button>
  </td>
</tr>