<modal #modalNews [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title">
            {{ _stringFormTitle }}
        </h4>
    </modal-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="_formNew">
        <modal-body>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="news_header">Encabezado de noticia</label>
                    <input type="text" class="form-control" id="news_header" [ngModel]="_new?._header" maxlength="30" formControlName="news_header">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="new_app">Aplicación</label>
                    <select id="new_app" class="form-control" formControlName="new_app" [ngModel]="_new?._appId">
                        <option *ngFor="let app of _appList" 
                                [value]="app._id"
                                [selected]="_new?._appId === app._id">
                            {{app._title}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="new_lang">Lenguaje</label>
                    <select id="new_lang" class="form-control" formControlName="new_lang" [ngModel]="_new?._languageId">
                        <option *ngFor="let lang of _languageList" 
                                [value]="lang._id"
                                [selected]="_new?._languageId === lang._id">
                            {{lang._title}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label for="new_content">Contenido</label>
                    <textarea rows="3" class="form-control" id="new_content" [ngModel]="_new?._body" formControlName="new_content">
                </textarea>
                </div>
            </div>

        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" (click)="onClear()">Limpiar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!_formNew.valid">Guardar</button>
        </modal-footer>
    </form>
</modal>