<div class="row">
  <div class="col-md-10 col-sm-offset-1">
    <h2>Plataformas</h2>
  </div>
</div>
<div class="row spacing">
  <div class="col-md-10 col-sm-offset-1">
    <platform-table></platform-table>
  </div>
</div>