<div class="panel-height">

    <!-- Panel superior -->
    <div class="row">
        <button type="button" class="btn btn-primary spacing spacing-left" (click)="inAppModal.openModal()">Agregar app</button>
    </div>

    <!-- Lista de apps -->
    <div class="list-group list-scrolls">
        <app-app-item *ngFor="let app of _appList" [inApp]="app">
        </app-app-item>
    </div>
</div>