.list-scrolls {
    max-height: 330px;
    height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 170px;
}

button {
    width: 85%;
}

.panel-height {
    height: 380px;
    max-height: 380px;
}