/* Para todos los panel body en la app */

.infoPanelSize {
  height: 370px;
  max-height: 370px;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  overflow: hidden;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing-bottom-sm {
  margin-bottom: 10px;
}

.spacing-button {
  width: 90%;
  margin: 5px;
}

.spacing-top-sm {
  margin-top: 10px;
}

.spacing-left {
  margin-left: 20px;
}

.spacing-top {
  margin-top: 20px;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}