<language-input #languageInput></language-input>
<div class="panel panel-default">
  <div class="panel-body infoPanelSize">

    <!-- Panel superior -->
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" (click)="_languageModal.openModal()">Agregar lenguaje</button>
      </div>
      <div class="col-md-8">
        <!--<input type="search" #inputFilter placeholder="Buscar..." class="form-control">-->
      </div>
    </div>

    <!-- Tabla de informacion -->
    <table class="table spacing-top additional-tables">
      <thead class="additional-headtable">
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Abreviación
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="additional-tablebody">
        <app-language-item [inLanguage]="lang" *ngFor="let lang of _languageList" style="width: 1107px;">
        </app-language-item>
      </tbody>
    </table>
  </div>
</div>