tbody {
    max-height: 260px;
    display: block;
    overflow-y: auto;
    width: 1108px;
    height: 260px;
}

tr {
    width: 100%;
}

table {
    table-layout: fixed;
}

th {
    width: 25%;
}

button {
    width: 100%;
}