<modal #modalLanguage [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title">
            {{ _stringFormTitle }}
        </h4>
    </modal-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="_formLanguage">

        <modal-body>
            <div class="form-group">
                <label for="lang_name">Titulo</label>
                <input type="text" class="form-control" id="lang_name" [ngModel]="_language?._title" maxlength="30" formControlName="lang_name">
            </div>
            <div class="form-group">
                <label for="lang_abv">Abreviación</label>
                <input type="text" class="form-control" [ngModel]="_language?._abv" id="lang_abv" formControlName="lang_abv" minlength="2"
                    maxlength="2" #input (input)="input.value=$event.target.value.toUpperCase()">
            </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-default" (click)="onClear()">Limpiar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!_formLanguage.valid">Guardar</button>
        </modal-footer>
    </form>

</modal>