.txt-info {
    font-size: 12px;
}

.txt-title {
    font-size: 18px;
}

.div-section {
    height: 370px;
}
.div-buttons {
    height: 80px;
}

.button-size {
    width: 95%;
    margin: 5px;
}

.align-right {
    float: right;
}