<!-- Modal de noticias -->
<app-news-input #newsInput></app-news-input>

<!-- Modal para desactivar noticias -->
<modal #newsDelete [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title" *ngIf="inApp">
            ¿Desactivar la aplicación {{ inApp._title }}?
        </h4>
    </modal-header>
    <modal-body>
        <div class="row">
            <p class="spacing-left">Esta acción no se puede deshacer</p>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" (click)="_newsModalDelete.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onDelete()">Desactivar</button>
    </modal-footer>
</modal>

<div class="row">

    <!-- Panel de info -->
    <div class="col-md-3 panel panel-height panel-default spacing-top spacing-left div-section">
        <div class="spacing-top">
            <div *ngIf="inApp">
                <h3>Información</h3>
                <div>
                    <b><p class="txt-title">Aplicación</p></b>
                    <p class="spacing-left txt-info">{{inApp._title}}</p>
                    <b><p class="txt-title">ID</p></b>
                    <p class="spacing-left txt-info">{{inApp._id}}</p>
                    <b><p class="txt-title">Plataforma</p></b>
                    <p class="spacing-left txt-info">{{oPlatformService.getSinglePlatform(inApp._platformId)._title}}</p>
                    <b><p class="txt-title">Lenguaje defecto</p></b>
                    <p class="spacing-left txt-info">{{oLanguageService.getSingleLanguage(inApp._languageId)._title}}</p>
                </div>
                <div class="div-buttons">
                    <button type='button' class='btn btn-primary button-size' (click)="onEdit()"><b>Editar</b></button>
                    <button type='button' class='btn btn-danger button-size' (click)="_newsModalDelete.open()">Desactivar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Noticias -->
    <div class="col-md-8 panel panel-height panel-default spacing-top spacing-left div-section spacing-top">
        <div *ngIf="inApp">
            <div class="row">
                <div class="col-md-6">
                    <h3>Noticias de {{inApp._title}}</h3>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary spacing-top align-right" (click)="_newsModal.openModal()">Agregar noticia</button>
                </div>
            </div>

            <!-- Tablas de noticias -->
            <div class="row spacing-top">
                <nav>
                    <ul class="nav nav-tabs nav-justified">
                        <li *ngFor="let language of _languageList">
                            <a (click)="onSelect(language)">{{language._title}}({{language._abv}})</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <app-news-table></app-news-table>
            </div>

        </div>
    </div>
</div>