<modal #modalApp [keyboard]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">
      {{ _stringFormTitle }}
    </h4>
  </modal-header>

  <form (ngSubmit)="onSubmit()" [formGroup]="_formApp">

    <modal-body>

      <div class="form-group">
        <label for="app_name">Titulo</label>
        <input type="text" class="form-control" id="app_name" [ngModel]="_app?._title" maxlength="30" formControlName="app_name">
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="app_lang">Lenguaje defecto</label>
            <select id="app_lang" class="form-control" formControlName="app_lang" [ngModel]="_app?._languageId">
              <option *ngFor="let lang of _languageList" 
                  [value]="lang._id"
                  [selected]="_app?._languageId === lang._id">
                {{lang._title}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="app_plat">Plataforma</label>
            <select id="app_plat" class="form-control" formControlName="app_plat" [ngModel]="_app?._languageId">
              <option *ngFor="let plat of _platformList; let i = index" 
                  [value]="plat._id"
                  [selected]="_app?._platformId === plat._id">
                {{plat._title}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </modal-body>

    <modal-footer>
      <button type="button" class="btn btn-default" (click)="onClear()">Limpiar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!_formApp.valid">Guardar</button>
    </modal-footer>

  </form>
</modal>