<modal #modalPlatform [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title">
            {{ _stringFormTitle }}
        </h4>
    </modal-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="_formPlatform">

        <modal-body>
            <div class="form-group">
                <label for="plat_name">Plataforma</label>
                <input type="text" class="form-control" id="plat_name" [ngModel]="_platform?._title" maxlength="30" formControlName="plat_name">
            </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-default" (click)="onClear()">Limpiar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!_formPlatform.valid">Guardar</button>
        </modal-footer>

    </form>
</modal>