<div>
  <div class="row">
    <div class="col-sm-offset-1 col-md-10">
      <img src="../../../../public/src/img/icon.png" alt="ManxNews" width="200px" height="100">
    </div>
    <div class="col-md-1">
      <p>1.0</p>
    </div>
  </div>
  <div class="row">
    <hr>
  </div>
</div>