<app-app-input #appInput></app-app-input>

<div class="row col-sm-offset-1">

    <div class="col-md-2 panel panel-default spacing-top no-padding-left">
        <div class="panel-body">
            <app-applist [inAppModal]="_appModal"></app-applist>
        </div>
    </div>

    <div class="col-md-9 panel panel-height panel-default spacing-top spacing-left">
        <app-infoPanel [inAppModal]="_appModal"></app-infoPanel>
    </div>

</div>