<header class="row">
  <nav class="col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li routerLinkActive="active"><a [routerLink]="['/apps']">Aplicaciones</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/languages']">Lenguajes</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/platforms']">Plataformas</a></li>
    </ul>
  </nav>
</header>
<div class="row spacing" id="div-body">
  <!-- Que es esto? 
     Acts as a placeholder that Angular dynamically fills based on the current router state.
    -->
  <router-outlet></router-outlet>
</div>