<div class="panel panel-default" id="div-mainPanel">
    <app-header></app-header>
    <app-body></app-body>
</div>
<div>
    <h4 style="text-align: center">Hecho por Alberto Herrera Alanis</h4>
</div>