.td-title {
    width: 600px;
}

.td-2 {
    padding-top: 10px;
    width: 150px;
    padding-left: 20px;
}

.td-3 {
    width: 450px;
    padding-left: 20px;
}

.back-color {
    background: lightgray;
}

tr {
    width: 600px;
}

td {
    width: 120px;
}

table {
    table-layout: fixed;
}

.spacing-button {
    width: 90%;
    margin: 5px;
}