<tr>
  <td class="td-title">
    <p>
      <b>
      {{ inNew._header }}
      </b>
    </p>
  </td>

  <td>
    <button type='button' class='btn btn-info spacing-button' (click)="publish()"><b>{{ getPublishedName() }}</b></button>
  </td>
  <td>
    <button type='button' class='btn btn-primary spacing-button' (click)="onEdit()"><b>Editar</b></button>
  </td>
  <td>
    <button type='button' class='btn btn-danger spacing-button' (click)="onDelete()">Desactivar</button>
  </td>
</tr>
<table>
  <tr class="back-color">
    <td class="td-2">
      <p>
        {{ inNew._date_visible | date: 'dd/MM/yyyy'}}
      </p>
    </td>
    <td class="td-3">
      {{ inNew._body }}
    </td>
  </tr>
</table>