<div class="panel-body">
  <table class="table table-striped additional-tables">
    <tbody id="platforms_table_tbody" class="additional-tablebody">
      <app-news-item [inNew]="new" *ngFor="let new of _newsList">
      </app-news-item>
    </tbody>
  </table>
</div>