tbody {
    max-height: 220px;
    display: block;
    overflow-y: auto;
    width: 600px;
    height: 220px;
}

tr {
    width: 100%;
}

table {
    table-layout: fixed;
}

th {
    width: 20%;
}

button {
    width: 100%;
}